<!DOCTYPE html>
<html>
  <head>
    <!-- ... -->
	<script src="dynamic.js"></script>
  </head>
  <body>
  <h1 style="color:blue;text-align: center;">Select the year</h1>
	<!--<img class="myImg" style="margin-left:10px; margin-top:10px; float:left;" src="gp1_2020.svg" width="54" height="123" />
	<img class="myImg" style="margin-left:10px; margin-top:10px; float:left;" src="badges/legal2.png" width="54" height="123"/>
	<div id="apDiv1"><img id="showImg" width="73" height="140" /></div>-->
	<a href="views2020.html">2020</a>
	<a href="views2019.html">2019</a>
	<a href="views2018.html">2018</a>
	<a href="views2017.html">2017</a>
	<a href="views2016.html">2016</a>
	<a href="views2015.html">2015</a>
  </body>
</html>